/*
Project Name: JavaJam Coffee House (HW9)
Author: Jennifer Chiang
Date Last Modified: 4/1/2019
*/

/*body info*/
body { background-color: #FCEBB6; 
	   color: #221811; 
	   font-family: Verdana, Arial, Gotham;
}

/*for headers*/
header { background-color: #D2B48C;
		 text-align: center;
}

/*specifically for h1*/
h1 { line-height: 200%;}

/*nav element selector*/
nav { text-align: center;
	  font-weight: bold;
}

/*for footer element*/
footer { background-color: #D2B48C;
		font-size: .60em;
		font-style: italic;
		text-align: center;
}

/*making id named "wrapper"*/
#wrapper { width: 80%;
		   margin-right: auto;
		   margin-left: auto;
}